body{
    margin: 0;
    background: rgb(111,25,133);
    background: radial-gradient(circle, rgba(111,25,133,1) 0%, rgba(37,11,78,1) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#clock {
    color: rgb(142, 107, 207);
    font-family: "Orbitron", sans-serif;
    font-size: 6.5rem;
    text-align: center;
    flex-wrap: wrap;
}

footer, a{
    text-align: center;
    color: rgb(142, 107, 207);
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
}

a:hover {
    color: rgb(86, 64, 126);
    text-decoration: underline;
}

@media (max-width: 768px) {
    #clock {
        font-size: 4rem;
    }
    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    #clock {
        font-size: 2.5rem; /* Reduz mais para celulares pequenos */
    }
}